@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root{--primary:#ff3b30;--accent:#FF9F1C;--sunny:#FFD166;--boteco:#FFF5E0}
body{font-family:Inter,system-ui,-apple-system,'Segoe UI',Roboto,'Helvetica Neue',Arial;background:var(--boteco)}
.bg-primary{background:var(--primary)}.text-primary{color:var(--primary)}
.hover\:scale-102:hover{transform:scale(1.02)}.transition{transition:all .18s ease}
